@charset "UTF-8";

/*---------------------
	すべてに適用
----------------------*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(id);
  margin-right:0.3em;
  font-size:130%;
}

@font-face {
    font-family: 'Keyfont';
    src: url('Key-Regular.otf') format('opentype');
}

@font-face{
	font-family: 'Yanagifont';
	src: url('MCyanagi.ttf') format('truetype');
}


body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.wrapper{
	margin: 0 auto;
}

/*-----------------
	index
------------------*/

.header{
	max-width: 100%;
	height: 200px;
	background-color: #fff;
	position: relative;
}
.header p{
	font-family: 'Yanagifont';
	position: absolute;
	font-size: 50px;
	top: 50%;
	left: 30%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.header img{
	position: absolute;
	clip: rect(0,auto,200px,0);
	opacity: 0.6;
}



h1{
	color: #5d4e44;
	font-size: 30px;
	border-bottom-width:2px; 
	border-bottom-style:dotted; 
	margin-top: 35px;
	padding: 0 0 0 30px;
}

h2{
	font-family: Arial,sans-serif;
	color: #5d4e44;
	font-size: 20px;
	font-weight: bold;
	padding: 30px 0 0 30px;
	border-bottom-style: solid ;
	border-bottom-width: 1px;
}

h3{
	font-family: Arial,sans-serif;
	color: #3d2e24;
	font-size: 20px;
	margin: 35px 0 5px 35px;
}

h4{
	font-family: Arial,sans-serif;
	color:#3d2e24;
	font-size: 17px;
	margin: 30px 0 20px 40px;
}

.main{
	font-family: 'Keyfont';
	background-color: #150908;
	padding: 100px 0 100px 0;
}

.main a{
	text-decoration: none;
}



.block{

	background-color: #ffffff;
	max-width: 100%;
	width: 900px;
	height: auto;
	margin: 0 auto 50px auto;

}
.block:hover{
	opacity: 0.8;
}

.blockpic{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	width: 900px;
	height: 290px;
	position: relative;

}

.blockpic img{

	position: absolute;
	max-width: 100%;
	width: 900px;
	clip: rect(0,900px,290px,0);
	
}


p{
	font-family: Arial,sans-serif;
	color: #3d2e24;
	font-size: 15px;
	padding: 0 40px 0 40px;
	line-height: 120%;
}

.mokuji{
	font-size: 13px;
}


a:link{
	color: #dd656e;
}
a:visited{
	color: #5dbbba;
}
a:hover{
	color: #fd959e;
}
a:active{
	color: #7ddddd;
}

img{
	border-style: none; 
	max-width: 100%;
}





/*-----------------
	footer
-------------------*/

.footer{
	background-color: #fff;
	margin: 0px auto;
	padding:20px 0 20px 0;
	font-size: smaller;
	clear: both;
}


/*------------------
	about
--------------------*/
.block2{

	background-color: #ffffff;
	max-width: 100%;
	width: 900px;
	height: auto;
	margin: 0 auto 50px auto;
	padding: 0 0 50px 0; 

}

.left{
	  float : left ;
      width : 65% ;
     
}

.right{
	  float : right ;
      width : 33% ;
}

.twitter-timeline{
	font-family: Arial,sans-serif; 
}

.clear{
	clear: both;
}

.image{
	width: 150px;
 	border-radius: 150px;
 	-webkit-border-radius: 150px;
 	-moz-border-radius: 150px;
}

.home{
	padding: 0 0 0 100px; 
}


/*------------------
	illust
-------------------*/

/*------------------
	line
-------------------*/

.body_lineimg{
	position: relative;
}

.main_lineimg{
	font-family: 'Keyfont';
	background-color: #150908;
	padding: 100px 0 100px 0;
}

.lineimg {
	width: 300px;
	position: fixed;
	right: 0%;
	bottom: 0%;
	z-index: 1;
}

/*------------------
	message
-------------------*/

.mail{
	text-align: center;
}